@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
  display: flex;
  background-color: #3d3935;
  min-width: 100vw;
  min-height: 100vh;
}

.defaultDiv {
  display: flex;
  height: auto;
  justify-content: center;
  flex-direction: column;
}

p {
  color: white;
}

.iconsContent {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.imgIcon {
  width: 20%;
  min-width: 250px;
}
.gradient-btn {
  background: linear-gradient(to right, #1ad9cf, #43a2df, #6572ec, #7858f3);
  width: 200px;
  border: none;
  align-self: center;
}

.imgIcon:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  background-color: #514d4a;
}

.imgIcon:active {
  transform: scale(1.1);
  transition: transform 0.2s;
  background-color: #5f5d5c;
  border: 1px solid #ffffff;
}

.animated-btn {
  position: relative;
  overflow: hidden;
}

.animated-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.animated-btn:hover::after {
  transform: translateX(0%);
}

#priceTotal {
  color: #1ad9cf;
}

.estimado {
  font-size: 1.5rem;
  font-weight: 600;
}

.compartenos {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
